.testimonial-wrap
  .container
    .testimonial-quote &ldquo;
    .testimonial-content AgileStyle understood my needs, responded to my questions, and helped me decide on a concept that fit. All of my expectations were exceeded.
    %h4.testimonial-name Amanda Amyotte
    %h5.testimonial-source Owner, Vivid Travel
