.testimonial-wrap
  .container
    .row
      .col-sm-8.col-sm-offset-2
        .testimonial-quote &ldquo;
        .testimonial-content AgileStyle was able to provide me with a complete web-based solution for my business... an exceptional product.
        %h4.testimonial-name Luke Williamson
        %h5.testimonial-source Accurate Network Services
