a, button, input {
  &.button {
    @include transition;
    width: 100%;
    @include border-radius (4px);
    @include header-font-stack-3;
    font-weight: bold;
    font-size: 10px;
    display: inline-block;
    background: none;
    border: 2px solid $white;
    color: $white;
    line-height: 56px;
    height: 56px;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      color: $agile-blue;
      background: $white;
      text-decoration: none;
    }

    &.light {
      color: $agile-blue !important;
      border-color: $agile-blue;

      &:hover {
        background: $agile-blue;
        color: $white !important;
      }
    }

    &.secondary {
      color: $white;
      background: $gray-md;
      border-color: $gray-md;

      &:hover {
        color: $white;
        background: darken($gray-md, 10%);
        border-color: darken($gray-md, 10%);
      }
    }

    &.white {
      color: $agile-blue;
      background: $white;
      border-color: $white;

      &:hover {
        color: $agile-blue;
        background: darken($white, 5%);
        border-color: darken($white, 5%);
      }
    }
   
    @include respond-to (sm) {
      width: auto;
      min-width: 250px;
      font-size: 11px;
    }

    @include respond-to (md) {
      font-size: 11px;
    }

    @include respond-to (lg) {
      font-size: 13px;
    }
  }
}
