@mixin body-font-stack {
  font-family: "Bitter", serif;
}

@mixin header-font-stack-1 {
  font-family: "verbultra", sans-serif;
}

@mixin header-font-stack-2 {
  font-family: "verbblack", sans-serif;
}

@mixin header-font-stack-3 {
  font-family: "verbregular", sans-serif;
}

@mixin light-font-stack {
  font-family: "verbextralight", sans-serif;
}

body {
  @include body-font-stack;
  font-size: 16px;
  color: $body-font-color;
  line-height: $body-line-height;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5 {
  @include header-font-stack-1;
}

h1 {
  @include header-font-stack-1;
  text-transform: uppercase;
  font-size: 36px;
  margin: 0;
  padding: 0;
  color: $white;
  line-height: 1.1;
  margin-bottom: 0.7em;

  em {
    font-style: normal;
    color: $agile-green;
  }
}

h2 {
  @include header-font-stack-2;
  font-size: 30px;
  margin: 0;
  padding: 0;

  em {
    font-style: normal;
    color: $agile-green;
  }
}

h3 {
  @include header-font-stack-3;
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

h4 {
  @include header-font-stack-3;
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-weight: semi-bold;
}

h5 {
  @include header-font-stack-3;
  text-transform: uppercase;
  color: $agile-green;
  font-size: 18px;
  margin: 0 0 14px 0;
  padding: 0;
}

p,
ul,
ol,
hr,
blockquote { margin: 0 0 20px 0; }

ol,
ul {
  padding: 0 0 0 20px;
}

li {
  margin: 0;
  padding: 0;
}

a,
a:focus,
a:visited {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: $link-hover-color;
  text-decoration: none;
}

.page-body {
  a,
  a:focus,
  a:visited {
    color: darken( $link-color, 10% );
  }

  a:hover {
    color: darken( $link-hover-color, 10% );
  }
}

img {
  display: block;
}

@include respond-to(sm) {
  a[href^='tel:'] {
    pointer-events: none;
  }
}

.intro-text {
  font-size: 24px;
  margin-bottom: 60px;
}


.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}