---
title: 'Squarespace 7 Template Guide'
description: 'A simple, sortable table to quickly compare basic features between various Squarespace Templates'

page: 'Home'
---

.page-header-container
  .page-header-image.index
    .page-header-overlay
  .container
    %a.header-logo{:href => '/'}
    %h1.page-head
      Squarespace
      %br
      %em Template
      %br
      Guide
    %p.sub-head
      A simple, sortable table to quickly compare basic features between various Squarespace Templates
      %br
    %p.sub-head.text-right
      %i
        %sup
          Last updated
          = Time.now.strftime("%Y/%m/%d")


.page-body
  .content-wrap
    .container
      %h2 Templates
      %table.comparison.display.responsive
        %thead
          %tr
            %th Name
            %th Categories
            %th Page Header Style
            %th Index Page
            %th Sidebar Type
            %th Nav Type
            %th Secondary Nav
            %th Links
        %tfoot
          %tr
            %th Name
            %th Categories
            %th Page Header Style
            %th Index Page
            %th Sidebar Type
            %th Nav Type
            %th Secondary Nav
            %th Links

        %tbody
          %tr
            %td Adirondack
            %td Businesses, Stores, Personal
            %td Image, Full Width, Text
            %td No
            %td None
            %td Fixed
            %td Footer
            %td 
              %a{:href => 'http://adirondack-demo.squarespace.com/' , :target => '_blank'} Demo
              %a{:href => 'http://adirondack-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Adversary
            %td Musicians
            %td Full Width, Image&amp;Text
            %td Yes
            %td None
            %td Static, Fixed
            %td Footer
            %td
              %a{:href => 'http://adversary-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://adversary-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Alex
            %td Weddings
            %td Full Width, Image&amp;Text
            %td Yes
            %td Index
            %td Static, Fixed
            %td Footer
            %td
              %a{:href => 'http://alex-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://alex-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Anya
            %td Weddings
            %td Full Width, Image&amp;Text
            %td Yes
            %td Blog, Folder, Products
            %td Static, Fixed
            %td Footer
            %td
              %a{:href => 'http://anya-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://anya-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Aubrey
            %td Weddings
            %td None
            %td No
            %td None
            %td Static
            %td None
            %td
              %a{:href => 'http://aubrey-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://aubrey-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Avenue
            %td Personal, Portfolios, Stores
            %td None
            %td Yes
            %td Blog
            %td Static
            %td None
            %td
              %a{:href => 'http://avenue-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://avenue-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Aviator
            %td Businesses, Personal
            %td None
            %td No
            %td None
            %td Fixed, Sidebar
            %td None
            %td
              %a{:href => 'http://aviator-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://aviator-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Bedford
            %td Businesses, Personal
            %td Full Width, Image&amp;Text
            %td Yes
            %td Blog, Folder, Product Categories
            %td Fixed (In Index), Static
            %td Footer
            %td
              %a{:href => 'http://bedford-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://bedford-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Boutique
            %td N/A
            %td None
            %td No
            %td None
            %td Fixed, Static
            %td None
            %td
              %a{:href => 'http://boutique-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://boutique-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Bryant
            %td Businesses
            %td Full Width, Image&amp;Text
            %td Yes
            %td Blog, Folder, Index, Products
            %td Fixed (In Index), Static
            %td Footer
            %td
              %a{:href => 'http://bryant-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://bryant-demo.squarespace.com/read-me', :target => '_blank'} Readme

          %tr
            %td Charlotte
            %td Weddings
            %td Full Width, Image&amp;Text
            %td Yes
            %td None
            %td Fixed (In Index), Static
            %td Footer
            %td
              %a{:href => 'http://charlotte-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://charlotte-demo.squarespace.com/read-me', :target => '_blank'} Readme

          %tr
            %td Dovetail
            %td Businesses, Stores
            %td Image
            %td No
            %td Blog
            %td Static
            %td Footer
            %td
              %a{:href => 'http://dovetail-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://dovetail-demo.squarespace.com/read-me', :target => '_blank'} Readme

          %tr
            %td Encore
            %td Musicians
            %td N/A
            %td No
            %td None
            %td Static
            %td None
            %td
              %a{:href => 'http://encore-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://encore-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Five
            %td Businesses, Restaurants
            %td Full Width, Image&amp;Text
            %td No
            %td None
            %td Static
            %td None
            %td
              %a{:href => 'http://five-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://five-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Flatiron
            %td Portfolios
            %td N/A
            %td No
            %td None
            %td Fixed, Static
            %td None
            %td
              %a{:href => 'http://flatiron-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://flatiron-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Forte
            %td Portfolios, Restaurants
            %td N/A
            %td Yes
            %td None
            %td Static
            %td None
            %td
              %a{:href => 'http://forte-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://forte-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Frontrow
            %td Portfolios
            %td N/A
            %td No
            %td Blog
            %td Static
            %td Header
            %td
              %a{:href => 'http://frontrow-demo.squarespace.com/', :target => '_blank'} Demo

          %tr
            %td Fulton
            %td Businesses, Stores
            %td Full Width, Image&amp;Text
            %td Yes
            %td None
            %td Static
            %td Footer
            %td
              %a{:href => 'http://fulton-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://fulton-demo.squarespace.com/readme/', :target => '_blank'} Readme

          %tr
            %td Galapagos
            %td Stores
            %td N/A
            %td No
            %td Blog
            %td Static
            %td Footer
            %td
              %a{:href => 'http://galapagos-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://galapagos-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Hayden
            %td Businesses
            %td Full Width, Image&amp;Text
            %td Yes
            %td Blog, Folder, Products
            %td Fixed (In Index), Static
            %td Footer
            %td
              %a{:href => 'http://hayden-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://hayden-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Horizon
            %td Musicians
            %td Full Width, Image&amp;Text
            %td Yes
            %td None
            %td Static
            %td Footer
            %td
              %a{:href => 'http://horizon-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://horizon-demo.squarespace.com/readme/', :target => '_blank'} Readme

          %tr
            %td Ishimoto
            %td Businesses, Portfolios, Stores, Restaurants
            %td N/A
            %td No
            %td Blog
            %td Static
            %td None
            %td
              %a{:href => 'http://ishimoto-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://ishimoto-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Julia
            %td Weddings
            %td Fixed Width, Image, Text
            %td Yes
            %td Gallery
            %td Static
            %td None
            %td
              %a{:href => 'http://julia-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://julia-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Marquee
            %td Businesses, Restaurants
            %td Full Width, Image&amp;Text
            %td Yes
            %td Index
            %td Fixed, Static
            %td Footer
            %td
              %a{:href => 'http://marquee-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://marquee-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Momentum
            %td Portfolios
            %td Fixed Width, Text
            %td Yes
            %td None
            %td Fixed
            %td None
            %td
              %a{:href => 'http://momentum-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://momentum-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Montauk
            %td Businesses, Portfolios, Stores, Restaurants
            %td Fixed Width, Image&amp;Text
            %td Yes
            %td Gallery
            %td Static
            %td None
            %td
              %a{:href => 'http://montauk-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://montauk-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Naomi
            %td Weddings
            %td Full Width, Image&amp;Text
            %td Yes
            %td None
            %td Static
            %td Footer
            %td
              %a{:href => 'http://naomi-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://naomi-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Native
            %td Personal
            %td N/A
            %td No
            %td None
            %td Static
            %td None
            %td
              %a{:href => 'http://native-demo.squarespace.com/', :target => '_blank'} Demo

          %tr
            %td Om
            %td Businesses
            %td Fixed Width, Image&amp;Text
            %td Yes
            %td Gallery
            %td Static
            %td None
            %td
              %a{:href => 'http://om-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://om-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Pacific
            %td Businesses, Personal, Restaurants
            %td Full Width, Image&amp;Text
            %td Yes
            %td None
            %td Fixed (In Index), Static
            %td Footer
            %td
              %a{:href => 'http://pacific-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://pacific-demo.squarespace.com/readme/', :target => '_blank'} Readme

          %tr
            %td Peak
            %td Restaurants
            %td Full Width, Image&amp;Text
            %td No
            %td None
            %td Fixed, Static
            %td None
            %td
              %a{:href => 'http://peak-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://peak-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Shift
            %td Personal
            %td Full Width, Image&amp;Text
            %td Yes
            %td Index
            %td Fixed, Static
            %td Footer
            %td
              %a{:href => 'http://shift-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://shift-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Supply
            %td Stores
            %td N/A
            %td Yes
            %td None
            %td Fixed
            %td Under Primary
            %td
              %a{:href => 'http://supply-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://supply-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Wells
            %td Portfolios
            %td N/A
            %td No
            %td Blog
            %td Fixed, Static
            %td Sidebar
            %td
              %a{:href => 'http://wells-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://wells-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Wexley
            %td Portfolios
            %td N/A
            %td No
            %td Blog
            %td Static
            %td None
            %td
              %a{:href => 'http://wells-demo.squarespace.com/', :target => '_blank'} Demo

      -#
        .footnotes
          .row
            .col-xs-12
              %h3 Additional Information
              %ol
                %li Example fact one.
                %li Example face two.
