---
title: 'Squarespace 7 Template Guide'
description: 'A simple, sortable table to quickly compare basic features between various Squarespace Templates'

page: 'Home'
---

.page-header-container
  .page-header-image.index
    .page-header-overlay
  .container
    %a.header-logo{:href => 'http://hire-experts.squarespace.com/'}
    %h1.page-head
      Squarespace
      %br
      %em Template
      %br
      Guide
    %p.sub-head
      A simple, sortable table to compare basic features between various Squarespace templates
      %br
    %p.sub-head
      %i
        %sup
          Last updated
          = Time.now.strftime("%Y/%m/%d")

  :plain
    <a href="https://github.com/AgileStyleInc/squarespace-template-guide"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 200;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>


.page-body
  .content-wrap
    .container
      .row
        .col-sm-10.col-sm-offset-1
          %p.text-center.intro-text
            Choosing the right Squarespace template isn’t always the easiest process, as there is really no way to view all templates at once or compare features. Since <a href="http://hire-experts.squarespace.com/">we build on Squarespace</a> pretty often, we’ve decided to put together this handy chart that compares features and limitations of each template, as well as the categories they appear in on the <a href="http://squarespace.com/templates" target="_blank">official Squarespace templates page</a>.

      %table.comparison.display.responsive
        %thead
          %tr
            %th Fav
            %th Name
            %th Categories
            %th Header Type
            %th Index Page
            %th Sidebar Type
            %th Nav Type
            %th Secondary Nav
            %th Links
        %tfoot
          %tr
            %th Fav
            %th Name
            %th Categories
            %th Header Type
            %th Index Page
            %th Sidebar Type
            %th Nav Type
            %th Secondary Nav
            %th Links

        %tbody
          %tr
            %td.text-center
            %td Adirondack
            %td Businesses, Personal, Stores
            %td Image, Full Width, Text
            %td No
            %td None
            %td Fixed
            %td Footer
            %td 
              %a{:href => 'http://adirondack-demo.squarespace.com/' , :target => '_blank'} Demo
              %a{:href => 'http://adirondack-demo.squarespace.com/read-me/', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Adversary
            %td Musicians
            %td Full Width, Image&amp;Text
            %td Yes
            %td None
            %td Static, Fixed
            %td Footer
            %td
              %a{:href => 'http://adversary-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://adversary-demo.squarespace.com/read-me/', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Alex
            %td Weddings
            %td Full Width, Image&amp;Text
            %td Yes
            %td Index
            %td Static, Fixed
            %td Footer
            %td
              %a{:href => 'http://alex-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://alex-demo.squarespace.com/read-me/', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Anya
            %td Weddings
            %td Full Width, Image&amp;Text
            %td Yes
            %td Blog, Folder, Products
            %td Static, Fixed
            %td Footer
            %td
              %a{:href => 'http://anya-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://anya-demo.squarespace.com/read-me/', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Aubrey
            %td Weddings
            %td N/A
            %td No
            %td None
            %td Static
            %td None
            %td
              %a{:href => 'http://aubrey-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://aubrey-demo.squarespace.com/read-me/', :target => '_blank'} Readme


          %tr
            %td.text-center
              %i.fa.fa-star
            %td Avenue
            %td Personal, Portfolios, Stores
            %td N/A
            %td Yes
            %td Blog
            %td Static
            %td None
            %td
              %a{:href => 'http://avenue-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://avenue-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td.text-center
            %td Aviator
            %td Businesses, Personal
            %td N/A
            %td No
            %td None
            %td Fixed, Sidebar
            %td None
            %td
              %a{:href => 'http://aviator-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://aviator-demo.squarespace.com/read-me/', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Bedford
            %td Businesses, Personal
            %td Full Width, Image&amp;Text
            %td Yes
            %td Blog, Folder, Product Categories
            %td Fixed (In Index), Static
            %td Footer
            %td
              %a{:href => 'http://bedford-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://bedford-demo.squarespace.com/read-me/', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Boutique
            %td N/A
            %td N/A
            %td No
            %td None
            %td Fixed, Static
            %td None
            %td
              %a{:href => 'http://boutique-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://boutique-demo.squarespace.com/read-me/', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Bryant
            %td Businesses
            %td Full Width, Image&amp;Text
            %td Yes
            %td Blog, Folder, Index, Products
            %td Fixed (In Index), Static
            %td Footer
            %td
              %a{:href => 'http://bryant-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://bryant-demo.squarespace.com/read-me', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Charlotte
            %td Weddings
            %td Full Width, Image&amp;Text
            %td Yes
            %td None
            %td Fixed (In Index), Static
            %td Footer
            %td
              %a{:href => 'http://charlotte-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://charlotte-demo.squarespace.com/read-me', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Dovetail
            %td Businesses, Stores
            %td Image
            %td No
            %td Blog
            %td Static
            %td Footer
            %td
              %a{:href => 'http://dovetail-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://dovetail-demo.squarespace.com/read-me', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Encore
            %td Musicians
            %td N/A
            %td No
            %td None
            %td Static
            %td None
            %td
              %a{:href => 'http://encore-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://encore-demo.squarespace.com/read-me/', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Five
            %td Businesses, Restaurants
            %td Full Width, Image&amp;Text
            %td No
            %td None
            %td Static
            %td None
            %td
              %a{:href => 'http://five-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://five-demo.squarespace.com/read-me/', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Flatiron
            %td Portfolios
            %td N/A
            %td No
            %td None
            %td Fixed, Static
            %td None
            %td
              %a{:href => 'http://flatiron-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://flatiron-demo.squarespace.com/read-me/', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Forte
            %td Portfolios, Restaurants
            %td N/A
            %td Yes
            %td None
            %td Static
            %td None
            %td
              %a{:href => 'http://forte-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://forte-demo.squarespace.com/read-me/', :target => '_blank'} Readme


          %tr
            %td.text-center
              %i.fa.fa-star
            %td Frontrow
            %td Portfolios
            %td N/A
            %td No
            %td Blog
            %td Static
            %td Header
            %td
              %a{:href => 'http://frontrow-demo.squarespace.com/', :target => '_blank'} Demo

          %tr
            %td.text-center
            %td Fulton
            %td Businesses, Stores
            %td Full Width, Image&amp;Text
            %td Yes
            %td None
            %td Static
            %td Footer
            %td
              %a{:href => 'http://fulton-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://fulton-demo.squarespace.com/readme/', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Galapagos
            %td Stores
            %td N/A
            %td No
            %td Blog
            %td Static
            %td Footer
            %td
              %a{:href => 'http://galapagos-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://galapagos-demo.squarespace.com/read-me/', :target => '_blank'} Readme


          %tr
            %td.text-center
              %i.fa.fa-star
            %td Hayden
            %td Businesses
            %td Full Width, Image&amp;Text
            %td Yes
            %td Blog, Folder, Products
            %td Fixed (In Index), Static
            %td Footer
            %td
              %a{:href => 'http://hayden-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://hayden-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td.text-center
            %td Horizon
            %td Musicians
            %td Full Width, Image&amp;Text
            %td Yes
            %td None
            %td Static
            %td Footer
            %td
              %a{:href => 'http://horizon-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://horizon-demo.squarespace.com/readme/', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Ishimoto
            %td Businesses, Portfolios, Restaurants, Stores
            %td N/A
            %td No
            %td Blog
            %td Static
            %td None
            %td
              %a{:href => 'http://ishimoto-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://ishimoto-demo.squarespace.com/read-me/', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Julia
            %td Weddings
            %td Fixed Width, Image, Text
            %td Yes
            %td Gallery
            %td Static
            %td None
            %td
              %a{:href => 'http://julia-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://julia-demo.squarespace.com/read-me/', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Marquee
            %td Businesses, Restaurants
            %td Full Width, Image&amp;Text
            %td Yes
            %td Index
            %td Fixed, Static
            %td Footer
            %td
              %a{:href => 'http://marquee-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://marquee-demo.squarespace.com/read-me/', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Momentum
            %td Portfolios
            %td Fixed Width, Text
            %td Yes
            %td None
            %td Fixed
            %td None
            %td
              %a{:href => 'http://momentum-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://momentum-demo.squarespace.com/read-me/', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Montauk
            %td Businesses, Portfolios, Restaurants, Stores
            %td Fixed Width, Image&amp;Text
            %td Yes
            %td Gallery
            %td Static
            %td None
            %td
              %a{:href => 'http://montauk-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://montauk-demo.squarespace.com/read-me/', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Naomi
            %td Weddings
            %td Full Width, Image&amp;Text
            %td Yes
            %td None
            %td Static
            %td Footer
            %td
              %a{:href => 'http://naomi-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://naomi-demo.squarespace.com/read-me/', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Native
            %td Personal
            %td N/A
            %td No
            %td None
            %td Static
            %td None
            %td
              %a{:href => 'http://native-demo.squarespace.com/', :target => '_blank'} Demo


          %tr
            %td.text-center
            %td Om
            %td Businesses
            %td Fixed Width, Image&amp;Text
            %td Yes
            %td Gallery
            %td Static
            %td None
            %td
              %a{:href => 'http://om-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://om-demo.squarespace.com/read-me/', :target => '_blank'} Readme


          %tr
            %td.text-center
              %i.fa.fa-star
            %td Pacific
            %td Businesses, Personal, Restaurants
            %td Full Width, Image&amp;Text
            %td Yes
            %td None
            %td Fixed (In Index), Static
            %td Footer
            %td
              %a{:href => 'http://pacific-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://pacific-demo.squarespace.com/readme/', :target => '_blank'} Readme

          %tr
            %td.text-center
            %td Peak
            %td Restaurants
            %td Full Width, Image&amp;Text
            %td No
            %td None
            %td Fixed, Static
            %td None
            %td
              %a{:href => 'http://peak-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://peak-demo.squarespace.com/read-me/', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Shift
            %td Personal
            %td Full Width, Image&amp;Text
            %td Yes
            %td Index
            %td Fixed, Static
            %td Footer
            %td
              %a{:href => 'http://shift-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://shift-demo.squarespace.com/read-me/', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Supply
            %td Stores
            %td N/A
            %td Yes
            %td None
            %td Fixed
            %td Under Primary
            %td
              %a{:href => 'http://supply-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://supply-demo.squarespace.com/read-me/', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Wells
            %td Portfolios
            %td N/A
            %td No
            %td Blog
            %td Fixed, Static
            %td Sidebar
            %td
              %a{:href => 'http://wells-demo.squarespace.com/', :target => '_blank'} Demo
              %a{:href => 'http://wells-demo.squarespace.com/read-me/', :target => '_blank'} Readme


          %tr
            %td.text-center
            %td Wexley
            %td Portfolios
            %td N/A
            %td No
            %td Blog
            %td Static
            %td None
            %td
              %a{:href => 'http://wells-demo.squarespace.com/', :target => '_blank'} Demo
      .row
        .col-sm-8.col-sm-offset-2.text-center
          %p
            Starred templates (<i class='fa fa-star'></i>) indicate AgileStyle's favourite templates for overall usefulness. When building Squarespace sites, we find ourselves coming back to these templates time and time again because of their flexibility.
          %p
            %em
              This site was inspired by Miko Coffey's awesome <a href='http://www.usingmyhead.com/squarespace-6-template-comparison-chart/' target='_blank'>Squarespace 6 template guide</a>.
      -#
        .footnotes
          .row
            .col-xs-12
              %h3 Additional Information
              %ol
                %li Example fact one.
                %li Example face two.

.cta-block
  .container
    .row
      .col-sm-4.col-sm-offset-1.text-center
        %p
          Example content? There will be some text here that talks about signing up for our super handy '6 Steps' guide.
        .subscribe-form
          / Begin MailChimp Signup Form
          #mc_embed_signup
            %form#mc-embedded-subscribe-form.validate{:action => "//squarespace.us1.list-manage.com/subscribe/post?u=5690aae539107201f81977b6c&id=adbf231951", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}

              .input-group
                %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => "", :placeholder => 'Email Address'}/
                / real people should not fill this in and expect good things - do not remove this or risk form bot signups
                %div{:style => "position: absolute; left: -5000px;"}
                  %input{:name => "b_5690aae539107201f81977b6c_adbf231951", :tabindex => "-1", :type => "text", :value => ""}/
                %input#mc-embedded-subscribe.subscribe-button{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
          #mce-responses.clear
            #mce-error-response.response{:style => "display:none"}
            #mce-success-response.response{:style => "display:none"}
          %script{:src => "//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js", :type => "text/javascript"}
          :javascript
            (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
          / End mc_embed_signup
      .col-sm-4.col-sm-offset-2.text-center
        %p
          Still stuck? AgileStyle builds Squarespace sites, and we can help get yours up and running.
        %a.button.green{:href => 'http://hire-experts.squarespace.com/'}
          Learn More
