---
title: 'Squarespace 7 Template Guide'
description: 'A simple, sortable table to quickly compare basic features between various Squarespace Templates'

page: 'Home'
---

.page-header-container
  .page-header-image.index
    .page-header-overlay
  .container
    %a.header-logo{:href => '/'}
    %h1.page-head
      Squarespace
      %br
      %em Template
      %br
      Guide
    %p.sub-head A simple, sortable table to quickly compare basic features between various Squarespace Templates


.page-body
  .content-wrap
    .container
      %h2 Templates
      %table.comparison.display.responsive
        %thead
          %tr
            %th Name
            %th.tablet.desktop Categories
            %th.desktop Page Header Style
            %th.desktop Index (Y/N)
            %th.desktop Sidebar Type
            %th.desktop Nav Type
            %th.tablet.desktop Secondary Nav (Y/N)
            %th.desktop Links
        %tfoot
          %tr
            %th Name
            %th Categories
            %th Page Header Style
            %th Index?
            %th Sidebar Type
            %th Nav Type
            %th Secondary Nav (Y/N)
            %th Links

        %tbody
          %tr
            %td Adirondack
            %td Business, Store, Personal
            %td Image, Full Width, Text
            %td No
            %td None
            %td Fixed
            %td Yes
            %td 
              %a{:href => 'http://adirondack-demo.squarespace.com/' , :target => '_blank'} Demo
              %br
              %a{:href => 'http://adirondack-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Adversary
            %td Musicians
            %td Full Width, Image&Text
            %td Yes
            %td None
            %td Static, Fixed
            %td Footer
            %td
              %a{:href => 'http://adversary-demo.squarespace.com/', :target => '_blank'} Demo
              %br
              %a{:href => 'http://adversary-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Alex
            %td Wedding
            %td Full Width, Image&Text
            %td Yes
            %td Index
            %td Static, Fixed
            %td Footer
            %td
              %a{:href => 'http://alex-demo.squarespace.com/', :target => '_blank'} Demo
              %br
              %a{:href => 'http://alex-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Anya
            %td Wedding
            %td Full Width, Image&Text
            %td Yes
            %td Blog, Folder, Products
            %td Static, Fixed
            %td Footer
            %td
              %a{:href => 'http://anya-demo.squarespace.com/', :target => '_blank'} Demo
              %br
              %a{:href => 'http://anya-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Aubrey
            %td Wedding
            %td None
            %td No
            %td None
            %td Static
            %td No
            %td
              %a{:href => 'http://aubrey-demo.squarespace.com/', :target => '_blank'} Demo
              %br
              %a{:href => 'http://aubrey-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Avenue
            %td Portfolio, Store, Personal
            %td None
            %td Yes
            %td Blog
            %td Static
            %td No
            %td
              %a{:href => 'http://avenue-demo.squarespace.com/', :target => '_blank'} Demo
              %br
              %a{:href => 'http://avenue-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Aviator
            %td Business, Personal
            %td None
            %td No
            %td None
            %td Fixed, Sidebar
            %td No
            %td
              %a{:href => 'http://aviator-demo.squarespace.com/', :target => '_blank'} Demo
              %br
              %a{:href => 'http://aviator-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Bedford
            %td Business, Personal
            %td Full Width, Image&Text
            %td Yes
            %td Folder, Product Categories, Blog
            %td Static, Fixed (In Index)
            %td Footer
            %td
              %a{:href => 'http://bedford-demo.squarespace.com/', :target => '_blank'} Demo
              %br
              %a{:href => 'http://bedford-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Boutique
            %td N/A
            %td None
            %td No
            %td None
            %td Static, Fixed
            %td None
            %td
              %a{:href => 'http://boutique-demo.squarespace.com/', :target => '_blank'} Demo
              %br
              %a{:href => 'http://boutique-demo.squarespace.com/read-me/', :target => '_blank'} Readme

          %tr
            %td Bryant
            %td Business
            %td Full Width, Image&Text
            %td Index?
            %td Sidebar Type
            %td Static, Fixed (In Index)
            %td Footer
            %td
              %a{:href => 'http://bryant-demo.squarespace.com/', :target => '_blank'} Demo
              %br
              %a{:href => 'http://bryant-demo.squarespace.com/read-me', :target => '_blank'} Readme

          %tr
            %td Charlotte
            %td Weddings
            %td Full Width, Image&Text
            %td Yes
            %td None
            %td Static, Fixed (In Index)
            %td 
            %td
              %a{:href => 'http://charlotte-demo.squarespace.com/', :target => '_blank'} Demo
              %br
              %a{:href => 'http://charlotte-demo.squarespace.com/read-me', :target => '_blank'} Readme

          %tr
            %td Dovetail
            %td Business, Stores
            %td Image
            %td No
            %td Blog
            %td Static
            %td 
            %td
              %a{:href => 'http://dovetail-demo.squarespace.com/', :target => '_blank'} Demo
              %br
              %a{:href => 'http://dovetail-demo.squarespace.com/read-me', :target => '_blank'} Readme

          %tr
            %td Encore
            %td Musician
            %td Header Style
            %td Index?
            %td Sidebar Type
            %td Nav Type
            %td Secondary Nav?
            %td
              %a{:href => 'http://-demo.squarespace.com/', :target => '_blank'} Demo
              %br
              %a{:href => 'http://-demo.squarespace.com/', :target => '_blank'} Readme

      .footnotes
        .row
          .col-xs-12
            %h3 Additional Information
            %ol
              %li Example fact one.
              %li Example face two.
